<header class="site-header">
		
		<div class="top-banner logo teal">
	        <div class="inner">
	            <div>
	                <a class="logotype" href="http://www.ucsf.edu/">
	                    <span>University of California San Francisco</span>
	                </a>
	            </div>
	            <div class="nav">
	                <ul class="top-banner-menu">
	                    <li><a href="http://www.ucsf.edu/about">About UCSF</a></li>
	                    <li><a href="http://www.ucsf.edu/search">Search UCSF</a></li>
	                    <li><a href="http://www.ucsfhealth.org/">UCSF Medical Center</a></li>
	                </ul>
	            </div>
	        </div>
	    </div>

<div class="UpperTitle">
		<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>		
</div>
				
<div id='cssmenu'>
<ul>
   <li><a href="{{ site.baseurl }}/"><span>Home</span></a></li>
   <li class='active has-sub'><a href="{{ site.baseurl }}/faculty"><span>Faculty</span></a>
      <ul>
         <li class='has-sub'><a href="{{ site.baseurl }}/faculty"><span>Faculty</span></a>
		 <li class='has-sub'><a href="{{ site.baseurl }}/affiliated"><span>Affiliated and Emeritus</span></a>
		 <li class='has-sub'><a href="{{ site.baseurl }}/recent"><span>Recent Honors</span></a>
    </li>
      </ul>
    <li class='has-sub'><a href="{{ site.baseurl }}/teaching"><span>Teaching</span></a>
         <ul>
            <li><a href="{{ site.baseurl }}/courses"><span>Courses</span></a>
	</li>
		</ul>
   <li><a href="{{ site.baseurl }}/links"><span>UCSF Links</span></a></li>
   <li><a href="{{ site.baseurl }}/contact"><span>Contact</span></a></li>
   <li><a href="http://willedbodyprogram.ucsf.edu"><span>Willed Body Program</span></a></li>
   <li class='has-sub'><a href="{{ site.baseurl }}/faculty"><span>Graduate Programs</span></a>
      <ul>
         <li class='has-sub'><a href="http://bms.ucsf.edu/"><span>Biomedical Sciences (BMS)</span></a>
		 <li class='has-sub'><a href="http://tetrad.ucsf.edu/"><span>TETRAD</span></a>
		 <li class='has-sub'><a href="http://pibs.ucsf.edu/"><span>PIBS</span></a>
    </li>
      </ul>
   
</ul>
</div>	
	
</header>















