<header class="site-header">
		
		<div class="top-banner logo teal">
	        <div class="inner">
	            <div>
	                <a class="logotype" href="http://www.ucsf.edu/">
	                    <span>University of California San Francisco</span>
	                </a>
	            </div>
	            <div class="nav">
	                <ul class="top-banner-menu">
	                    <li><a href="http://www.ucsf.edu/about">About UCSF</a></li>
	                    <li><a href="http://www.ucsf.edu/search">Search UCSF</a></li>
	                    <li><a href="http://www.ucsfhealth.org/">UCSF Medical Center</a></li>
	                </ul>
	            </div>
	        </div>
	    </div>

<div class="UpperTitle">
		<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>		
</div>
				
			
	<ul id="navigation">
	 <li><a href="{{ site.baseurl }}/">Home</a></li>
	 <li class="sub">

	  <a href="{{ site.baseurl }}/faculty">Faculty</a>

	  <ul>

	   <li><a href="{{ site.baseurl }}/faculty">Faculty</a></li>
	   <li><a href="{{ site.baseurl }}/affiliated">Affiliated and Emeritus</a></li>
	   <li><a href="{{ site.baseurl }}/recent">Recent Honors</a></li>

	  </ul>

		<li class ="sub">
			<a href="{{ site.baseurl }}/teaching">Teaching</a>
	  <ul>

		<li><a href="{{ site.baseurl }}/courses">Courses</a></li>
	  </ul>
	</li>
		<li><a href="{{ site.baseurl }}/links">Links</a></li>
		<li><a href="{{ site.baseurl }}/contact">Contact</a></li>
		<li><a href="http://willedbodyprogram.ucsf.edu">Willed Body Program</a></li>

	</ul>
		
</header>















